html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}


.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #141414;
  transition: color 0.2s;
}

.bm-item:hover {
  color: rgb(248, 10, 10);
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #5c8e9e;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #53ada9;
}

.bm-menu {
  background: #53ada9;
  padding: 2.5em 1.5em 0;
  font-size: 1.25em;
}

.bm-morph-shape {
  fill: #a1a3ad;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


